@font-face {
    font-family: 'RobotoThin';
    src: url(fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Regular.ttf);
}


html{
    width: 100%;
    height: 100%;
	font-family: 'RobotoThin' !important;
    overflow: hidden;
    -webkit-box-sizing: border-box;
	-webkit-user-select: none;
}

body{
	background-image: url('img/lmd-boot-manager-back.png');
	background-position: bottom left;
	background-repeat: no-repeat;
	
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'RobotoThin';
}
p, div {
    font-family: 'RobotoThin';
}

/* Login */

#loginFrame{
    width: 100%;
	display: none;
	
}
    
#logintitle{
    font-size: large;
	font-family: 'Roboto' !important;
    margin-top: 30px;
	text-align: center;
	
}
#loginform{
	text-align: left;
	margin: 20px 00px 0px 70px;
}

.CursorWaiting{
	cursor: wait !important;
}

/*Main Window*/

#MainFrame{	
    display: none;
	margin: 20px;
}


#btSave{
	display: block;
	float: right;
	margin: 0px 30px 0px 0px;
	clear: both;
}


/* Sortable list */
#BootListDiv{
    float: left;
    clear: left;
    display: block;
	width: 300px;
}

#BootList{
	/*background: #ff0000;*/
	min-height: 50px;
}

#AvailableOptionsDiv{
    float: left;
    clear: right;
    display: block;
	width: 300px;
}

#AvailableOptions{
	/*background: #00ff00;*/
	min-height: 50px;
}

#SortLists{
	/*background: #0000ff;*/
	width: 650px;
	min-height: 200px;
	max-height: 300px;
	overflow-y: auto;
}

ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;

}

.empty{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.ui-sortable-placeholder {
    border: 1px dashed #aaa;
    height: 35px;
    width: 270px;
    background: #fff;
}

.bootitem{
    border: 1px #cccccc solid;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 2px -2px;
    width: 270px;
    height: 55px;
    padding: 0px;
    overflow: hidden;
    margin: 2px;

}

.bootitem:hover{
    cursor: move;
}

.menuEntry{
	margin: 1px;
    height: 35px;
    width: 270px;
    background: #2573eb;
	color: #ffffff;
	
	padding: 10px 0px 5px 35px;
	font-size: 0.9em;
	background-repeat: no-repeat;
	background-position: 5px 5px;
}

.menuEntry:hover{
	cursor: move;
}

.ltsp{
	background-image: url("img/ltsp.png");
}

.bootfromhd{
	background-image: url("img/diskboot.png");
	
}

.netinstall{	
	background-image: url("img/install.png");
}

.list_explanation{
	font-size: 0.9em;
	margin: 10px;
}

.list_title{
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
}

#timer{
	width: 270px;
	padding: 10px;
	border: #cccccc 1px solid;
	border-radius: 5px;
}



/*

ul#BootList{}
.connectedSortable{}
div.empty{}

ul#AvailableOptions{}
ul.connectedSortabl{}
li.empty{}*/